.contactMe {
    background-color: #000;
    opacity: 0.8;
    padding: 60px;

    &-content {
        max-width: 600px;
        background: #fff;
        margin: 0 auto;
        padding: 30px;
        border-radius: 30px;

        p {
            font-size: 24px;
            text-align: justify;
            text-indent: 20px;
        }

        h2 {
            font-size: 48px;
        }

        button {
            margin: 0 auto;
        }
    }
}
@media (max-width: 640px) {
    .contactMe{
      padding: 0 10px 10px;
      &-content{
      padding: 0 10px 10px;

      }
      li {
        font-size: 18px;
    }
    }
}