@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* $green: #1ca565; */

#root {
  background-color: #242424;
  height: 100vh;
  color: #fff;
}
#specialButton {
  position: absolute;
}
.fullPage {
  width: 100%;
  height: 100%;
}
polygon {
  stroke-width: 1;
  stroke: red;
  fill: transparent;
}
polygon:hover {
  fill: red;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #242424;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  overflow: hidden;
}
