.navbar {

    width: 100%;
    background-color: #2C2B2B;
    position: fixed;
    z-index: 10;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;;
    &.active{
        opacity: 1;

    }
    &.noactive{
        opacity: 0.6;
    }
    &:hover{
        opacity: 1;
        transition: 0.3s;
    }
    &>span {
        opacity: 1;

        color: #fff;
        font-size: 1.5rem;
    }

    &-menu {
        font-size: 28px;
        margin-top: 20px;

        &-help {
            opacity: 1;
            color: #fff;
            font-size: 1.5rem;
            display: flex;
            gap: 50px;
            cursor: pointer;
            align-items: center;


            &-lang {
                color:rgb(167, 167, 167);
            }
        }
    }
}
.activeLang{
    color:#fff;
    align-items: center;
}
.black{
    color:#000;
    &>path{
        fill:#000;
    }
}