.anketa{
    margin: 0 auto;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 35px;
    max-width: 1200px;
    padding: 0 30px 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 640px) {
    .anketa{
      padding: 0 10px 10px;
    }
}