.prisoners{
    max-width: 1200px;
    margin: 0 auto;

    &-book{
        background: url('../../assets/img/book.jpg');
        p{
            padding: 30px
        }
        h2{
            font-size: 48px;
            text-align: center;
        }
        &-cover{


                &-rotate{
                    transform: rotate(180deg);
                }
        }
    }
}
#prisoners{
    //  max-width: 1200px;
    //  margin: 0 auto;
    //  padding: 30px;
    padding: 10px;
    overflow: hidden;
position: relative;

    .arrows {
        overflow: hidden;
        width: 90px;
        left: 90%;
        bottom: 50%;
        transform: rotate(-90deg);
        position: absolute;
      }
     
      .arrows path {
        stroke: #000000;
        fill: transparent;
        stroke-width: 1px;
        animation: arrow 2s infinite;
        -webkit-animation: arrow 2s infinite;
      }
     
      @keyframes arrow {
        0% {
          opacity: 0
        }
     
        40% {
          opacity: 1
        }
     
        80% {
          opacity: 0
        }
     
        100% {
          opacity: 0
        }
      }
     
      @-webkit-keyframes arrow
     
      /*Safari and Chrome*/
        {
        0% {
          opacity: 0
        }
     
        40% {
          opacity: 1
        }
     
        80% {
          opacity: 0
        }
     
        100% {
          opacity: 0
        }
      }
     
      .arrows path.a1 {
        animation-delay: -1s;
        -webkit-animation-delay: -1s;
        /* Safari 和 Chrome */
      }
     
      .arrows path.a2 {
        animation-delay: -0.5s;
        -webkit-animation-delay: -0.5s;
        /* Safari 和 Chrome */
      }
     
      .arrows path.a3 {
        animation-delay: 0s;
        -webkit-animation-delay: 0s;
        /* Safari 和 Chrome */
      }
}

