.kidFade {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 35px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &-flex {
        display: flex;
        padding: 40px;
        justify-content: space-between;

        &-colum {
            flex-direction: column;
            width: 40%;
        }
    }

    p {
        font-size: 24px;
        text-align: justify;
        text-indent: 20px;
    }

    h1 {
        font-size: 48px;
        text-align: center;
        border-bottom: solid 5px rgb(64, 131, 2);
    }

    &-card {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;

        &-anim {
            transition: all .2s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}