.weNovopolock{
background-color: #000;
opacity: 0.8;
padding: 10px;

position: relative;
overflow: hidden;
&-content{
    margin: 0 auto;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 35px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    h1{
        font-size: 48px;
        text-align: center;
        border-bottom: solid 5px rgb(64, 131, 2);
      }
}

.img1{
    position: absolute;
    transform: rotate(7deg);
    scale: 0.26;
    top: -615px;
    right: -367px;
    z-index: -1;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.img2{
    position: absolute;
    transform: rotate(355deg);
    scale: 0.26;
    top: -609px;
    right: 1075px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    z-index: -1;
}
}